@import url('https://fonts.cdnfonts.com/css/jeany-gifary');
@import url('https://fonts.cdnfonts.com/css/sphere-next');

/* HEADER*/
div.page_de_gauche{
    background-color: var(--bgcolor );
    float: left;       /* Déplace la section vers la gauche */
    width: 50%;         /* Fait prendre à la section la moitié de la largeur de la page */
    height: 100vh; /* l'option vh permet de mettre la section sur toute la hauteur de la page web*/
    color: var(--text-color);
   
   /* font: 'Roboto', sans-serif;*/    
}
.H1_home_page{
    font-family: 'Jeany Gifary', sans-serif;
    font-weight: 400;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    padding-top: 20rem;
    padding-left: 2rem;
    line-height: 1.5;
}
.H2_home_page{
    font-family: 'Sphere Next', sans-serif;
    font-size: 2rem;
    padding-left: 15%;
    padding-top: 20%;
    
  }
  /* MISE EN PAGE PAGE DE DROITE */
  div.page_de_droite{ 
    float: right;       /* Déplace la section vers la droite */
    width: 50%;         /* Fait prendre à la section la moitié de la largeur de la page */
    height: 100vh;
  }

img.imageFondHome{
    width: 50%;
    height: 100vh;
  }