@import url('https://fonts.cdnfonts.com/css/jeany-gifary');
@import url('https://fonts.cdnfonts.com/css/sphere-next');

.projets-primary{
  top: 0;
    left: 0;
    width: 100%;
    line-height: 8rem;
    background-color: var(--bgcolor-theme);
    color: white;
    text-align: center;
    font-family: 'Jeany Gifary', sans-serif;
    font-weight: 200;
    font-size: 5rem;
    position: sticky;
    scroll-behavior: smooth;

  }
