@import url('https://fonts.cdnfonts.com/css/jeany-gifary');
@import url('https://fonts.cdnfonts.com/css/sphere-next');
@import url('https://fonts.cdnfonts.com/css/fredericka-the-great');
@import url('https://fonts.cdnfonts.com/css/bethalora');
@import url('https://fonts.cdnfonts.com/css/avocade');
@import url('https://fonts.cdnfonts.com/css/hello-good-old-outline');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Open+Sans:wght@300&display=swap');

/* RESET */

html{ /* sélecteur propriété valeur */
  font-size: 62.5%;  /* 1.000rem root em 10px */
  scroll-behavior: smooth;
}

body{
  font: 1.6rem sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;  
}

h1,h2,h3,img,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

header,main,ul,p{
    margin: 0;
    padding: 0;     
}

:root{
  --bgcolor-theme: #BFAE9F;
  --bgcolor: #fff;
  --text-color: #73655D;
  --text-deux: #0d0a08;
}
*{
    box-sizing: border-box;
}

/* HEADER*/

.container{
  display: flex;
}

.page_de_gauche{
  width: 50%;        
  height: 100vh; 
  color: var(--text-color);   
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-h1-h2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.H1_home_page{
  font-family: 'Jeany Gifary', sans-serif;
  font-weight: 400;
  font-size: 8rem;
  line-height: 1.5;
}

.H2_home_page{
  margin-top: 5rem;
  font-family: 'Sphere Next', sans-serif;
  font-size: 2rem;    
}
/*  bouton télécherger CV */
.cv_telecharger{
  background-color: var(--bgcolor-theme);
  padding: 2rem;
  margin: 2rem;
  width: 100%;
  display: block;
  border-radius: 1rem;
  text-decoration: none;
  color: #0d0a08;
  text-align: center;
}
  
.container-reseaux{
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.reseaux-sociaux{
  text-align: center;
  padding-top: 5rem;
}

/* MISE EN PAGE PAGE DE DROITE */
.page_de_droite{
  width: 50%;
  height: 100vh;
  display: flex;
}

.imageFondHome{
  display: flex;
  width: 100%;
}

/* MENU MURGER */
.hamburger-menu{
  position:fixed;
  z-index: 10;
  display:block;
  width:60%;
  margin:auto;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.menu__btn {
  position: fixed;
  margin-top: 2rem;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 4rem;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;  
  width: 100%;
  height: 0.3rem;
  background-color: #32261d;
  transition-duration: .60s;
  cursor: pointer;
  
}
.menu__btn > span::before {
  content: '';
  top: -1rem;  
}
.menu__btn > span::after {
  content: '';
  top: 1rem; 
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  padding: 1rem 0;
  list-style: none;
  background-color: var(--text-color);
  box-shadow: 2px 2px 6px #32261d;
  transition-duration: .6s;
}
.menu__item {
  display: block;
  padding: 3rem 4rem;
  color: var(--bgcolor);
  font-family: 'Jeany Gifary', sans-serif;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: .7rem;
  text-decoration: none;
  transition-duration: .60s;
}
.menu__item:hover {
  background-color: var(--bgcolor-theme);
}


/* overflow-y: auto; */

.bandeau_h3{
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  scroll-behavior: smooth;
  width: 100%;
  line-height: 10rem;
  background-color: var(--bgcolor-theme);
  color: white;
  font-family: 'Jeany Gifary', sans-serif;
  font-weight: 200;
  font-size: 7rem;
}


footer{
  background-color: var(--bgcolor-theme);
  height: 25rem;
  padding: 3rem;
  font: bold;
  font-size: large;
  
}
.footer_{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin:2rem;
  text-decoration: none;
  color: var(--text-deux);
  
  
}
span{
  color:#fff;
}



/* RESPONSIVE */
@media screen and (max-width: 800px){
  .container, .container2, .container_presentation{
    display: block;
  }
  /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #e9dbbf ; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bgcolor-theme); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color); 
}
  .page_de_gauche{
    width: 100%; /* Modifier la largeur à 100% */
    height: 100vh; /* Réinitialiser la hauteur */
  }
  .container-h1-h2{
    display: inline-block;
    text-align: center;
  }
  .H2_home_page{
    margin-top: 5rem;
    font-family: 'Sphere Next', sans-serif;
    font-size: 1rem;    
  }
  .cv_telecharger{
    margin: 2rem auto; 
    background-color: var(--bgcolor-theme);
    padding: 2rem;
    width: 60%;
    display: block;
    border-radius: 1rem;
    text-decoration: none;
    color: #0d0a08;
    text-align: center;
  }
  .page_de_droite{
   display: none;
  }
  .imageFondHome{
    visibility: hidden;
  }
  .menu__btn {
    position: fixed;
    margin-top: 2rem;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 4rem;
    cursor: pointer;
    z-index: 3;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    list-style: none;
    background-color: var(--text-color);
    box-shadow: 2px 2px 6px #32261d;
    transition-duration: .6s;
  }
  .menu__item {
    display: block;
    padding: 2rem 2.5rem;
    color: var(--bgcolor);
    font-family: 'Jeany Gifary', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .7rem;
    text-decoration: none;
    transition-duration: .60s;
  }

  .imageFond img{
    display: none;
    visibility: hidden;
}
/* PRESENTATION: */
.page_de_gauche_presentation{
  display: none;
  visibility: hidden;
  height: 0; 
}
.page_de_droite_presentation{
  max-height: 100vh;
  margin-top: 0;
}
div.container-presentation{
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 5rem;
  width: 100%;
  position: relative;
}
.container_presentation{
  display: block;
  /* overflow: scroll; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
  height: auto;
}
/* PROJETS */
div.testimonials .item {
 /*  display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 70%;
  
  border-radius: 1.5rem;
  border-width: 0.2rem;
  --tw-border-opacity: 1;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  box-shadow:  0 0 1rem var(--bgcolor-theme) ;
  user-select: none;
  cursor: pointer;
}
div.testimonials {
  height: 80%; 
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;  
 padding-bottom: 5rem;
}
/* ENTREPRISE */
#gauche_entreprise{
  display:block;
  height: 20%;
  margin: 5rem auto;  
}
#droite_entreprise{
  display:block;
  height: 100%;
  margin: 5rem auto;  

}
}