:root{
    --bgcolor-theme: #BFAE9F;
    --bgcolor: #fff;
    --text-color: #73655D;
    --text-deux: #0d0a08;
  }

 /*  body {
    margin: 0;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
  } */
  .container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  .slider {
    width: 100%;
    min-height: 100vh/* 385px */;
  }
  .slider input {
    display: none;
  }

  .mycard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%;
    width: 100%; */
    /* max-width: 24rem; */
  }
  .cardtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin: .1rem;
  /*   --tw-text-opacity: 1; */
    color: var(--text-color);
    text-align: center;
  }
  .cardimg img {
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 2.75rem;
    margin-bottom: 2.75rem; */
    /* max-height: 6rem; */
    /* border-radius: 9999px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    
    /* margin-top: 2.75rem; */
    
  }
  .carddescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    text-align: center;
    font-family: 'Jeany Gifary', sans-serif;
    font-size: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 60%;
    perspective: 50rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    overflow: hidden;
  }
  .testimonials .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 90%; 
    border-radius: 1.5rem;
    border-width: 0.2rem;
    --tw-border-opacity: 1;
   /*  border-color: rgba(30, 58, 138, var(--tw-border-opacity)); */
    /* top: 1rem; */
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    box-shadow:  0 0 1rem var(--bgcolor-theme) ;
    user-select: none;
    cursor: pointer;
  }
.testimonials .item img {
    width: 40rem;
    height: 27rem;
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dots label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bgcolor-theme);
    margin: 1rem;
    transition: transform 0.2s, color 0.2s;
  }
  
  /* First */
  #t-1:checked ~ .dots label[for="t-1"] {
    transform: scale(2);

  }
  #t-1:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
  }
  #t-1:checked ~ .testimonials label[for="t-1"] {
    z-index: 4;
  }
  #t-1:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(300px) translateZ(-90px) translateY(-15px);
  
    z-index: 3;
  }
  #t-1:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(600px) translateZ(-180px) translateY(-30px);
    z-index: 2;
  }
  #t-1:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(900px) translateZ(-270px) translateY(-45px);
    z-index: 1;
  }
  #t-1:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(1200px) translateZ(-360px) translateY(-60px);
  }
  
  /* Second */
  #t-2:checked ~ .dots label[for="t-1"] {
    transform: scale(1.5);
  }
  #t-2:checked ~ .dots label[for="t-2"] {
    transform: scale(2);

  }
  #t-2:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
  }
  #t-2:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  }
  #t-2:checked ~ .testimonials label[for="t-2"] {
    z-index: 3;
  }
  #t-2:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(300px) translateZ(-90px) translateY(-15px);
    z-index: 2;
  }
  #t-2:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(600px) translateZ(-180px) translateY(-30px);
    z-index: 1;
  }
  #t-2:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(900px) translateZ(-270px) translateY(-45px);
  }
  
  /* Third */
  #t-3:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
  }
  #t-3:checked ~ .dots label[for="t-3"] {
    transform: scale(2);

  }
  #t-3:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
  }
  #t-3:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  }
  #t-3:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  }
  #t-3:checked ~ .testimonials label[for="t-3"] {
    z-index: 3;
  }
  #t-3:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(300px) translateZ(-90px) translateY(-15px);
    z-index: 2;
  }
  #t-3:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(600px) translateZ(-180px) translateY(-30px);
  }
  
  /* Fourth */
  #t-4:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
  }
  #t-4:checked ~ .dots label[for="t-4"] {
    transform: scale(2);

  }
  #t-4:checked ~ .dots label[for="t-5"] {
    transform: scale(1.5);
  }
  #t-4:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  }
  #t-4:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  }
  #t-4:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-300px) translateZ(-90px) translateY(-15px);
    z-index: 2;
  }
  #t-4:checked ~ .testimonials label[for="t-4"] {
    z-index: 3;
  }
  #t-4:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(300px) translateZ(-90px) translateY(-15px);
  }
  
  /* Fifth */
  #t-5:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
  }
  #t-5:checked ~ .dots label[for="t-5"] {
    transform: scale(2);

  }
  #t-5:checked ~ .dots label[for="t-6"] {
    transform: scale(1.5);
  }
  #t-5:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
  }
  #t-5:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-900px) translateZ(-270px) translateY(-45px);
    z-index: 1;
  }
  #t-5:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-600px) translateZ(-180px) translateY(-30px);
    z-index: 2;
  }
  #t-5:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(-300px) translateZ(-90px) translateY(-15px);
    z-index: 3;
  }
  #t-5:checked ~ .testimonials label[for="t-5"] {
    z-index: 4;
  }
  
 