@import url('https://fonts.cdnfonts.com/css/jeany-gifary');
@import url('https://fonts.cdnfonts.com/css/sphere-next');

/* H3 ENTREPRISE */

.entreprise-primary-h3{

    top: 0;
    left: 0;
    width: 100%;
    line-height: 8rem;
    background-color: var(--bgcolor-theme);
    color: white;
    text-align: center;
    font-family: 'Jeany Gifary', sans-serif;
    font-weight: 200;
    font-size: 5rem;
    position: sticky;
    scroll-behavior: smooth;
  }

/* PAGE DE GAUCHE PRESENTATION = SCROLL */
.gauche-presentation-entreprise{
    width: 50%;
    height: 100%;
    float: left;
    position: static;
  }

/* PAGE DE DROITE PRESENTATION */
  .droite-presentation-entreprise{
    width: 50%;
    height: 100%;
    overflow-y: auto; 
    float: left;
    position: static; 
    background-color: var(--bgcolor);
	color:black;
    text-align: center;
    line-height: 4rem;
  }

/* IMAGES-ICONES PRESENTATION PAGE DE GAUCHE */

.imageFond-entreprise{
   
    justify-content: center; 
    padding-top: 20rem;   
  }

  p.texte-presentation{
    background-color: var(--bgcolor);
    margin: auto;
    width: 20%;
    cursor: pointer;
   
  }

  .logo-entreprise{
    justify-content: center;
    width: 80%;
  }