@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
}

body{
    font: 1.6rem 'Roboto', sans-serif; /* 16px */
    margin: 0;
    letter-spacing: .1rem;
    line-height: 1.6;    
    background-color: #BFB8B4;
    color: #362921;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    transition: all .6s ease-in-out;
}

*{
    box-sizing: border-box;
}
main{
    max-width: 120rem;
    margin: auto;
}

h1,h2,h3,h4,p,ol,ul,li,figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
header h1, footer{
    text-align: center;
}

section ul.gallery-primary-logo{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}
section ul.gallery-primary-logo li{
    clip-path: ellipse(130px 140px at 10% 20%);
    cursor: pointer;
    /*filter: drop-shadow(0 0 0.60rem)*/
}
section ul.gallery-primary-logo img{
    width: 100%;
    padding: 1rem;
}
a{
    text-decoration: none;
    color: #222;
}

button, input{
    padding: 0;
    background-color: inherit;
    border: 0;
}

.dark-mode {
    background-color: #333; /* Couleur de fond sombre */
    color: white; /*Couleur du texte en mode sombre */
    
}

.dark-mode h1 {
    color:#BFB8B4; /*Couleur du texte du titre en mode sombre*/
}

.dark-mode section ul.list-logo li {
    background-color: #444; /*Fond des logos en mode sombre*/
}

.dark-mode section ul.list-logo li img {
    filter: invert(1); /*Inverser la couleur des images en mode sombre*/
}


:root{
    --bgcolor-theme: #040404;
    --text-color: #fff;
}