@import url('https://fonts.cdnfonts.com/css/fredericka-the-great');
@import url('https://fonts.cdnfonts.com/css/bethalora');
@import url('https://fonts.cdnfonts.com/css/avocade');
@import url('https://fonts.cdnfonts.com/css/hello-good-old-outline');
body{
    
    height: 100vh;
    margin: 0;
    letter-spacing: 5px;
}

/**{
    box-sizing: border-box;
}*/
main{
   max-width: 120rem;
    margin: auto;
    
}
.div,section{
    background-color: #362921;
    float: left;       /* Déplace la section vers la gauche */
    width: 50%;         /* Fait prendre à la section la moitié de la largeur de la page */
    height: 100vh; /* l'option vh permet de mettre la section sur toute la hauteur de la page web*/
    color: #BFB8B4;
   /* font: 'Roboto', sans-serif;*/
    
    
}
.section,header,h1{
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 50px;
    padding-top: 0;
    line-height: 1.5;
    
    

}
.section,header,h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 15%;
    padding-top: 20%;
    
}
.div,nav{
    background-color: #BFB8B4;
    float: right;       /* Déplace la section vers la droite */
    width: 50%;         /* Fait prendre à la section la moitié de la largeur de la page */
    height: 100vh;
    color: #362921;

}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .60s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .6s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #362921;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .60s;
  }
  .menu__item:hover {
    background-color: #BFB8B4;
  }


/* Utilisez flexbox pour aligner les logos côte à côte */
.reseaux-sociaux {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Alignement horizontal au centre */
    align-items: flex-end; /* Alignement vertical au centre */
    
}

.reseaux-sociaux li {
    margin: 0 10px; /* Marge horizontale entre les logos */
}

.reseaux-sociaux img {
    width: 30px; 
    height: 30px; 
}


footer{
    background-color: #BFB8B4;
    float: right;       
    width: 50%;         
    box-sizing: border-box;
}

/*h1,h2,h3,h4,p,ol,ul,li,figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
header h1, footer{
    text-align: left;
}*/

/*section ul.gallery-primary-logo{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}
section ul.gallery-primary-logo li{
    clip-path: ellipse(130px 140px at 10% 20%);
    cursor: pointer;
    /*filter: drop-shadow(0 0 0.60rem)
}
section ul.gallery-primary-logo img{
    width: 100%;
    padding: 1rem;
}
a{
    text-decoration: none;
    color: #222;
}
*/
button, input{
    padding: 0;
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

.dark-mode {
    background-color: #960b0b; /* Couleur de fond sombre */
    color: white; /*Couleur du texte en mode sombre */
    
}

.dark-mode h1 {
    color:#BFB8B4; /*Couleur du texte du titre en mode sombre*/
}

.dark-mode section ul.list-logo li {
    background-color: #444; /*Fond des logos en mode sombre*/
}

.dark-mode section ul.list-logo li img {
    filter: invert(1); /*Inverser la couleur des images en mode sombre*/
}


:root{
    --bgcolor-theme: #040404;
    --text-color: #fff;
}
