@import url('https://fonts.cdnfonts.com/css/jeany-gifary');
@import url('https://fonts.cdnfonts.com/css/sphere-next');

:root{
  --bgcolor-theme: #BFAE9F;
  --bgcolor: #fff;
  --text-color: #73655D;
  --text-deux: #0d0a08;
}
/* PAGE DE DROITE PRESENTATION: */

.container-presentation{
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 5rem;
    width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e9dbbf ; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bgcolor-theme); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color); 
}
  /* = IMG + P */
.container-logo{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;  
} 
.texte-presentation{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
    padding: 2rem;
    color: black;
    font-weight: bolder ;  
  }
  .texte-presentation li{
    padding: 1rem;
  }
.logo{
    width: 30%;
    justify-content: center;
    cursor: url("../asset/presentation/clic_curseur.png"), pointer;
  }  

  /* PAGE DE GAUCHE */
  .page_de_gauche{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  