@import url('https://fonts.cdnfonts.com/css/jeany-gifary');
@import url('https://fonts.cdnfonts.com/css/sphere-next');

:root{
  --bgcolor-theme: #BFAE9F;
  --bgcolor: #fff;
  --text-color: #73655D;
  --text-deux: #0d0a08;
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
/* PAGE DE DROITE PRESENTATION: */
.container-presentation{
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 5rem;
  width: 100%;
  position: relative;
}
.page_de_gauche,
.page_de_droite {
    flex: 1 1 50%; /* Les pages de gauche et de droite occupent chacune 50% de l'espace */
    height: 100vh;
  }

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e9dbbf ; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bgcolor-theme); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color); 
}
  /* = IMG + P */
.container-logo{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;  
} 
.texte-presentation{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
    padding: 2rem;
    color: black;
    font-weight: bolder ;  
  }
  .texte-presentation li{
    padding: 1rem;
  }
.logo{
    width: 30%;
    justify-content: center;
    cursor: url("../asset/presentation/clic_curseur.png"), pointer;
  }  


  .imageFond img{
    width: 70%;
    height: auto;
    display: block; /* Pour supprimer les marges par défaut */
    margin: 0 auto; /* Pour centrer horizontalement */
  }

 /*  bouton télécherger CV */
.cv_telecharger{
  background-color: var(--bgcolor-theme);
  padding: 2rem;
  margin: 2rem;
  width: 100%;
  display: block;
  border-radius: 1rem;
  text-decoration: none;
  color: #0d0a08;
  text-align: center;
}
  