/* H3 PRESENTATION */
.presentation-primary{

    top: 0;
    left: 0;
    width: 100%;
    line-height: 6rem;
    background-color: var(--bgcolor-theme);
    color: white;
    text-align: center;
    position: sticky;
    scroll-behavior: smooth;
  }

  /* PAGE DE GAUCHE PRESENTATION = SCROLL */
 .gauche-presentation{
    width: 50%;
    height: 20%;
    float: left;
    /* padding-top: 4rem; */
    
  } 
  /* PAGE DE DROITE PRESENTATION */
  div.droite-presentation{
    width: 50%;
    height: 20%;
    overflow-y: auto; 
    position:sticky; 
    float: left;
    background-color: var(--bgcolor);
    text-align: center;
    line-height: 4rem;
  }
  /* IMAGES-ICONES PRESENTATION PAGE DE GAUCHE */
  .imageFond{
    width: 100%;
    height: auto;
    float: left;
    margin: auto ;
    padding: 4rem 3rem; 
    
  }
  .imageFond img{
    width: 100%;
    height: 100%;
  }
  .droite-presentation img{
    height: 100%;
  }
  
  p.texte-presentation img{
    background-color: var(--bgcolor);
    display: block;
    margin: auto;
    width: 20%;
    cursor: pointer;
   
  }